[submodule "ttf-ms-win10"]
	path = ttf-ms-win10
	url = git@github.com:strangeautomaton/ttf-ms-win10
[submodule "cdesktopenv-git"]
	path = cdesktopenv-git
	url = git@github.com:strangeautomaton/cdesktopenv-git.git
